
.main {
	color: #1d7874;
	background-color: #f4c095;
}
#map { 
	height: 400px; width: 300px; margin: 0 auto; 
}

.js-result-location {
	border: 2px solid white;
	border-radius: .25;
	color: white;
	background-color: #071e22;
}

