*
{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}
body 
{
 font-family: 'Open Sans', sans-serif;
 color: #ff3366;
 font-weight: lighter;
}
p 
{
  font-family: 'Encode Sans Condensed', sans-serif;
  color: #666666;
  text-align: left;
}
.nav-bar-one
{
 background-color: white;
 height: 70px;
 color: #ff3366;
 width: 5%;
 display: inline-block;
 margin: 0px;
 position: relative;
 top: 0px;
}
.trampl-logo
{
width: 20%;
position: absolute;
top: 0px;
padding: 0px;
margin: 0px;
display: inline-block;
} 
.nav-bar-two 
{
   background-color: white;
 height: 70px;
 color: #ff3366;
 width: 68%;
 display: block;
 margin: 0px;
 position: relative;
 top: 0px;
 float: right;
}
.catch-phrase 
{
  position: absolute;
  display: inline-block;
  padding: 20px 0px 10px 20px;
  font-size: 24px;
  font-weight: lighter;

}
.background-image
{
 width: 100%;
 margin: 0;
 position: relative;
 z-index: -1;
}
.form-bar 
{
  width:100%;
  height: 10%;
  margin: 0;  
  background-color: white;
  border: 2px solid white;
  opacity: 80;
}
.form-base 
{
  width: 80%;
  height: 30%;
  margin-left: 9%;
  margin-right: 11%;
  background-color: #ff3366;
  border: 2px solid white;
  padding: 0px;
  margin-top: -32%;
  font-size: 0px;
  z-index: 1; 
  position: absolute;  
}
.form
{
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
}
.input  
{
  border: 2px solid white;
  background-color: #ff3366;
  color: white;
  width:  40%;
    padding: 10px 10px;
    margin: 8px 0 0 10px;
    border-radius: 0px;
    cursor: pointer;
}
.or 
{
width: 20px;
color: white;  
z-index: 1;
}
.box 
{
  width: 20px;
  background-color: #ff3366;
  height: 10px;
}
.button 
{
  padding-top: 10px;
  padding-bottom: 10px;
  /*width: 35%;  
  height: 37px;*/
  padding-right: 5px;
  background-color: white;
  border: 2px solid white;
  box-sizing: border-box;
  display: inline;
}
.compassNeedle
{
  width: 10px;
}
.step
{
  font-weight: lighter;
  font-size: 20px;
  padding: 10px;
  color: white;
}
.snippet 
{
 font-size:12px;
 width: 24.7%;
 display: inline-block;
 margin: 0 4%;
 border: 2px solid white;
 padding: 0px;
}
.container 
{
 padding: 0 50px;
 font-size:0px;
 margin-top:-50px;
}
.snippet-img 
{
  width: 100%;
}
.snippet, .img-text 
{
  text-align: center;
  font-weight: lighter;
}
.info
{
  width: 50%
  margin: 200px auto 20px auto;
  box-sizing: border-box;
}
.why 
{
  text-align: center;
  display: block;
  font-weight: lighter;
  margin-top: 200px;
}
.hiking 
{
  text-align: center;
  display: block;
  font-weight: lighter;
  margin-top: 200px;
}
.info-p
{
  padding: 20px;
  text-align: center;
}
.container-two 
{
  padding: 0 50px;
  box-sizing: border-box;
  margin-top: 200px;
}
.logo-snippet 
{
  width: 100%;

 margin-left: auto;
 padding-left: 13%;
 margin-right: auto; 
 display: inline-block;
}
.logo-img 
{
  width: 12%;
  margin-left: 8%;
  margin-right: 8%; 
  margin-bottom: 20px; 
}
.footer
{
  height: 100px;
  width: 100%;
  background-color: #2e343b;
  display: block;
}
